@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Variables*/
/*Estilos generales*/
body {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

main {
  padding-top: 5rem;
  margin-right: auto;
}

/*Enlaces entre páginas*/
.enlacePags {
  color: #bf245d;
}

.enlacePags:hover {
  background: #0d0d0d;
  color: #f1c4f2;
  font-weight: bold;
}

/*Estilos de títulos y párrafos*/
#titulo1 {
  color: #f21667;
  text-align-last: center;
  text-shadow: 5px 5px 5px #ff69ca;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.tituloPrincipal {
  color: #f21667;
  text-align: left;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-shadow: 5px 5px 5px #8c8c8c;
}

.tituloSecundario {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: #bf245d;
  text-align: center;
}

/*Incluyendo MIXINS*/
.estilosTexto {
  color: #73224f;
  font-size: 1rem;
  font-weight: normal;
}

.estilosParrafo {
  color: #0d0d0d;
  font-size: 1rem;
  font-weight: bolder;
}

/*Estilos header*/
.header {
  background-image: linear-gradient(white, #ff69ca);
}
.header__logo {
  height: 76px;
}
.header__enlace {
  color: #121213;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 1rem;
}
.header__enlace:hover {
  color: #f21667;
}

/*ESTILOS FOOTER*/
.footer {
  background-image: linear-gradient(#ff69ca, white);
  text-align: center;
}

/*Incluyendo EXTEND*/
.footer__links, .link3, .link2, .link1 {
  text-decoration: none;
  font-weight: bolder;
  line-height: 2rem;
  font-size: 3rem;
  padding: 1rem 0.5rem;
}

.link1 {
  color: #bf245d;
}

.link2 {
  color: blue;
}

.link3 {
  color: #53d943;
}

.footer__texto {
  color: #0d0d0d;
  font-weight: 800;
}

/*Enlaces internos página de Inicio*/
.enlaceInterno {
  text-decoration: none;
  color: #73224f;
  margin-left: 0.5rem;
  font-weight: bold;
}
.enlaceInterno:hover {
  transform: scale(2);
  color: #0d0d0d;
}

/*CAROUSEL*/
.contSize {
  padding-bottom: 3rem;
}

.carousel-inner {
  max-height: 60rem;
}

.imgslide {
  max-width: 100%;
}

/*Flexbox página de Inicio*/
.contInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contInicio__flexItem1 {
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-grow: 2;
  width: 100%;
}
.contInicio__flexItem2 {
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  flex-basis: 1;
  width: 100%;
}

.contImagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contImagenes__imgs {
  display: inline-block;
  max-width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contImagenes__esconderImg {
  display: none;
}

/*Página sobre nosotros*/
.nosotros {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.nosotros__imagen {
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  max-width: 100%;
}
.nosotros__section {
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}
.nosotros__section--texto {
  text-align: left;
}

.divMapa {
  display: flex;
  justify-content: left;
}

.mapaStyle {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 2rem;
}

/*Página de Servicios: flex-box y mobile first*/
/*MIXINS*/
.flexServicios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  background-image: linear-gradient(white, #ff69ca);
}
.flexServicios__componente1 {
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  border-style: double;
  border-color: #bf245d;
}
.flexServicios__componente2 {
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
  border-style: double;
  border-color: #8c8c8c;
}
.flexServicios__componente3 {
  justify-content: flex-direction;
  width: 100%;
  padding: 1rem;
  border-style: double;
  border-color: #ff69ca;
}

/*Galería de imágenes*/
/*GRIDS*/
.galeria__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  text-shadow: 4px 5px 8px #0d0d0d;
}

.contenedorGaleria {
  padding: 1rem;
  background-color: #ff69ca;
}

.imagenGaleria {
  width: 100%;
}

.imagenGaleria img {
  width: 100%;
}

.galeriaGrid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.contenedorForm {
  width: 100%;
  display: flex;
  justify-content: left;
}
.contenedorForm__estilos {
  text-align: center;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.contenedorForm__estilos--texto {
  font-size: 1.5rem;
  color: #0d0d0d;
  font-weight: bolder;
}
.contenedorForm__estilos--spaces {
  padding: 0.5rem;
  margin: 1rem;
  border-style: solid;
  border-color: #73224f;
}
.contenedorForm__estilos--button1 {
  background-color: #f1c4f2;
}
.contenedorForm__estilos--button1:hover {
  background-color: #f75555;
}
.contenedorForm__estilos--button2 {
  background-color: #f1c4f2;
}
.contenedorForm__estilos--button2:hover {
  background-color: #53d943;
}

/*MEDIA QUERIES*/
/*Mobile first*/
@media only screen and (min-width: 100px) {
  /*GALERÍA*/
  .galeriaGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  /*Contenido página de Inicio*/
  .contImagenes {
    flex-direction: row;
  }
  .contImagenes__imgs {
    width: 30%;
  }
  .contImagenes__esconderImg {
    display: inline-block;
  }

  .tituloSecundario {
    font-size: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    letter-spacing: 0.2rem;
    line-height: 1.2rem;
  }

  .estilosTexto {
    font-size: 1.2rem;
  }

  #titulo1 {
    line-height: 4rem;
    font-size: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  .logo {
    height: 86px;
  }

  /*Contenido página de Servicios*/
  .tituloPrincipal {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .flexServicios {
    flex-direction: row;
    flex-wrap: wrap;
    background-image: none;
  }
  .flexServicios__componente1 {
    width: 35%;
  }
  .flexServicios__componente2 {
    width: 30%;
  }
  .flexServicios__componente3 {
    width: 35%;
  }

  .estilosParrafo {
    font-size: 1.2rem;
  }

  /*Contendido página 'Nosotros'*/
  .nosotros {
    flex-direction: row;
  }
  .nosotros__imagen {
    flex-wrap: nowrap;
    max-width: 100%;
  }
  .nosotros__section {
    flex-wrap: nowrap;
  }

  .divMapa {
    justify-content: center;
  }

  .mapaStyle {
    justify-content: center;
  }

  /*Contenido página de Contacto*/
  .contenedorForm {
    justify-content: center;
  }

  /*GALERÍA*/
  .galeriaGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .imagenGaleria {
    filter: grayscale(2);
  }
  .imagenGaleria:hover {
    transform: scale(1.2);
    transition: 0.8s;
    z-index: 300;
    filter: none;
  }
}
@media only screen and (min-width: 1024px) {
  /*Contenido página de Inicio*/
  .contInicio {
    flex-direction: column;
    justify-content: center;
  }
  .contInicio__flexItem1 {
    justify-content: center;
    text-align: center;
  }
  .contInicio__flexItem2 {
    margin-right: auto;
    justify-content: center;
    padding: auto;
    text-align: center;
  }

  .tituloSecundario {
    color: #bf245d;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    letter-spacing: 0.3rem;
    line-height: 2rem;
  }

  .estilosTexto {
    font-size: 1.8rem;
  }

  .contImagenes {
    flex-direction: row;
  }
  .contImagenes__imgs {
    width: 35%;
  }
  .contImagenes__esconderImg {
    display: inline-block;
  }

  #titulo1 {
    line-height: 5rem;
    font-size: 3.2rem;
    padding-bottom: 2rem;
  }

  .logo {
    height: 96px;
  }

  /*Contenido página de Servicios*/
  .tituloPrincipal {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .flexServicios {
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: linear-gradient(white, #ff69ca);
  }
  .flexServicios__componente1 {
    width: 30%;
  }
  .flexServicios__componente2 {
    width: 40%;
  }
  .flexServicios__componente3 {
    width: 30%;
  }

  .estilosParrafo {
    font-size: 1.8rem;
  }

  /*Contenido página 'Nosotros'*/
  .nosotros {
    flex-direction: row;
  }
  .nosotros__imagen {
    flex-wrap: nowrap;
    max-width: 100%;
    height: 70vh;
  }
  .nosotros__section {
    flex-wrap: nowrap;
    width: 75%;
  }

  /*GALERÍA*/
  .galeriaGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.page404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f21667;
}

.style404 {
  color: #f21667;
  font-size: 1.5rem;
  padding-top: 2rem;
  font-weight: bold;
}
.style404:hover {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
