.page404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $rosa-principal;
}
.style404 {
  color: $rosa-principal;
  font-size: 1.5rem;
  padding-top: 2rem;
  font-weight: bold;
  &:hover {
    color: blue;
  }
}
