/*Galería de imágenes*/
/*GRIDS*/

.galeria__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  text-shadow: 4px 5px 8px $black-color;
  transform: rotate(-5deg);
}
.contenedorGaleria {
  padding: 1rem;
  background-color: $rosa-claro;
}
.imagenGaleria {
  width: 100%;
}
.imagenGaleria img {
  width: 100%;
}
.galeriaGrid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
