/*Galería de imágenes*/
/*GRIDS*/

.galeria__titulo {
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  text-shadow: 4px 5px 8px #0d0d0d;
  transform: rotate(-5deg);
}
.contenedorGaleria {
  padding: 2rem;
  background-color: #f21667;
}
.imagenGaleria {
  width: 100%;
  filter: grayscale(2);
  &:hover {
    transform: scale(1.2);
    transition: 0.8s;
    z-index: 300;
    filter: none;
  }
}
.imagenGaleria img {
  width: 100%;
}
.galeriaGrid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  background-color: #f21667;
}
