/*Enlaces internos página de Inicio*/

.enlaceInterno {
  text-decoration: none;
  color: $verde-claro;
  margin-left: 0.5rem;
  font-weight: bold;
  &:hover {
    transform: scale(2);
    color: $black-color;
  }
}

/*Banner*/

.bannerPrincipal {
  height: 50vh;
  background-image: url(../imagenes/bannerindex.jpg);
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Flexbox página de Inicio*/

.contInicio {
  display: flex;
  flex-direction: column;
  &__flexItem1 {
    justify-content: flex-start;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    flex-grow: 2;
    width: 80%;
  }
  &__flexItem2 {
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 1rem;
    border-style: dotted;
    border-color: $verde-claro;
    margin-right: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    flex-basis: 1;
    width: 80%;
  }
}

.contImagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__imgs {
    display: inline-block;
    max-width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__esconderImg {
    display: none;
  }
}
