/*Enlaces internos página de Inicio*/

.enlaceInterno {
  text-decoration: none;
  color: $color-violeta;
  margin-left: 0.5rem;
  font-weight: bold;
  &:hover {
    transform: scale(2);
    color: $black-color;
  }
}

/*CAROUSEL*/
.contSize {
  padding-bottom: 3rem;
}
.carousel-inner {
  max-height: 60rem;
}
.imgslide {
  max-width: 100%;
}

/*Flexbox página de Inicio*/

.contInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__flexItem1 {
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-grow: 2;
    width: 100%;
  }
  &__flexItem2 {
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-basis: 1;
    width: 100%;
  }
}

.contImagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__imgs {
    display: inline-block;
    max-width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    // margin-bottom: 1rem;
  }
}
