/*Página sobre nosotros*/

.nosotros {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__imagen {
    flex-wrap: wrap;
    max-width: 100%;
  }
  &__section {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    &--texto {
      text-align: center;
    }
  }
}
.contenedorImagen {
  display: flex;
  justify-content: center;
  text-align-last: center;
}
.divMapa {
  display: flex;
  justify-content: center;
}
.mapaStyle {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
