/*Página de Servicios: flex-box y mobile first*/
/*MIXINS*/

@mixin servicios(
  $justify-content,
  $widht,
  $padding,
  $border-style,
  $border-color
) {
  justify-content: $justify-content;
  width: $widht;
  padding: $padding;
  border-style: $border-style;
  border-color: $border-color;
}

.flexServicios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  &__componente1 {
    @include servicios(flex-start, 100%, 1rem, double, $rosa-oscuro);
  }
  &__componente2 {
    @include servicios(flex-end, 100%, 1rem, double, $rosa-oscuro);
    margin-top: 1rem;
  }
  &__componente3 {
    @include servicios(flex-direction, 100%, 1rem, double, $rosa-oscuro);
    margin-top: 1rem;
  }
}
