/*ESTILOS FOOTER*/

.footer {
  background-image: linear-gradient($rosa-claro, white);
  text-align: center;
}

/*Incluyendo EXTEND*/

.footer__links {
  text-decoration: none;
  font-weight: bolder;
  line-height: 2rem;
  font-size: 3rem;
  padding: 1rem 0.5rem;
}
.link1 {
  @extend .footer__links;
  color: $rosa-oscuro;
}
.link2 {
  @extend .footer__links;
  color: blue;
}
.link3 {
  @extend .footer__links;
  color: $verde-claro;
}

.footer__texto {
  color: $black-color;
  font-weight: 800;
}
