* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*Variables*/

$color-claro: #f1c4f2;
$rosa-oscuro: #bf245d;
$rosa-principal: #f21667;
$black-color: #0d0d0d;
$rosa-claro: #ff69ca;
$color-violeta: #73224f;

/*Estilos generales*/

body {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

main {
  padding-top: 5rem;
  margin-right: auto;
}

/*Enlaces entre páginas*/

.enlacePags {
  color: $rosa-oscuro;
}
.enlacePags:hover {
  background: $black-color;
  color: $color-claro;
  font-weight: bold;
}

/*Estilos de títulos y párrafos*/

#titulo1 {
  color: $rosa-principal;
  text-align-last: center;
  text-shadow: 5px 5px 5px $rosa-claro;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.tituloPrincipal {
  color: $rosa-principal;
  text-align: center;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-shadow: 5px 5px 5px #8c8c8c;
}

.tituloSecundario {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: $rosa-oscuro;
  text-align: center;
}

/*Incluyendo MIXINS*/

@mixin fuentes($color, $font-size, $font-weight) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

.estilosTexto {
  @include fuentes($color-violeta, 1.2rem, bold);
  text-align: center;
}

.estilosParrafo {
  @include fuentes($black-color, 1rem, bolder);
}
