/*Estilos header*/

.header {
  background-image: linear-gradient($rosa-oscuro, $rosa-claro, white);
  &__logo {
    height: 76px;
  }
  &__enlace {
    color: #121213;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 1rem;
  }
  &__enlace:hover {
    color: $rosa-principal;
  }
}
